@model List<dynamic>

<h2 class="text-center">Начисления на иждивенцев</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
        <th>ФИО</th>
        <th>Оклад</th>
        <th>Иждивенцы</th>
        <th>Начислено</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.FullName</td>
            <td>@e.Salary.ToString("N0") ₸</td>
            <td>@e.Dependents</td>
            <td>@e.Total.ToString("N0") ₸</td>
        </tr>
    }
    </tbody>
</table>