@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center text-light">Admin Dashboard</h2>

<div class="container mt-4">
    <div class="card bg-dark text-white mb-3">
        <div class="card-body">
            <h4>Администрирование</h4>
            <ul>
                <li><a asp-controller="Admin" asp-action="Backups" class="text-info">Резервные копии</a></li>
                <li><a asp-controller="Admin" asp-action="AccessLogs" class="text-info">Мониторинг доступа</a></li>
                <li><a asp-controller="Admin" asp-action="CreateUser" class="text-info">Создать пользователя</a></li>
            </ul>
        </div>
    </div>
</div>