@{
    ViewData["Title"] = "Employee";
}

<div class="container">
    <header class="d-flex justify-content-center py-3">
    </header>
    <main class="text-center">
        <h1>Employee</h1>
        <p>Добро пожаловать, Работник!</p>
    </main>
    <footer class="text-center py-3">
        <p>&copy; 2025 - StaffDBWebApp</p>
    </footer>
    <link rel="stylesheet" href="~/css/Employee.css" />
</div>