@{
    ViewData["Title"] = "Employee";
}

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/Home/Admin" class="nav-link">Admin</a></li>
            <li class="nav-item"><a href="/Home/HR" class="nav-link">HR</a></li>
            <li class="nav-item"><a href="/Home/Director" class="nav-link">Director</a></li>
            <li class="nav-item"><a href="/Home/Employee" class="nav-link active">Employee</a></li>
        </ul>
    </header>
    <main class="text-center">
        <h1>Employee</h1>
        <p>Добро пожаловать, Работник!</p>
    </main>
    <footer class="text-center py-3">
        <p>&copy; 2025 - StaffDBWebApp</p>
    </footer>
    <link rel="stylesheet" href="~/css/Employee.css" />
</div>