@{
    ViewData["Title"] = "Главная";
}

<h2>Кадровая система</h2>

<ul>
    <li><a href="/Employee">Работники</a></li>
    <li><a href="/HR">HR-панель</a></li>
    <li><a href="/Admin">Админка</a></li>
    <li><a href="/Director">Директор</a></li>
</ul>