@{
    ViewData["Title"] = "Director Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center text-light">Director Dashboard</h2>

<div class="container mt-4">
    <div class="card bg-dark text-white mb-3">
        <div class="card-body">
            <h4>Аналитика и управление</h4>
            <ul>
                <li><a href="#" class="text-info">Отчеты по персоналу</a></li>
                <li><a href="#" class="text-info">Статистика подразделений</a></li>
                <li><a href="#" class="text-info">Просмотр приказов</a></li>
            </ul>
        </div>
    </div>
</div>