@{
    ViewData["Title"] = "HR Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center text-light">HR Dashboard</h2>

<div class="container mt-4">
    <div class="card bg-dark text-white mb-3">
        <div class="card-body">
            <h4>Работа с кадрами</h4>
            <ul>
                <li><a href="#" class="text-info">Список сотрудников</a></li>
                <li><a href="#" class="text-info">Добавить сотрудника</a></li>
                <li><a href="#" class="text-info">Формирование приказов</a></li>
            </ul>
        </div>
    </div>
</div>